﻿
@model List<TheGrandPresident.Models.Common.BookingDetails>
@using TheGrandPresident.Models.Common

@{
    ViewBag.Title = "Booked";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var bookingDetails = Model.ToList();
}





<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

<link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>FromDate</th>
                            <th>Todate</th>
                            <th>CustomerContactNo</th>
                            <th>CustomerName</th>
                            <th>TotalDays</th>
                            <th>ClientName</th>
                            <th>Status</th>
                            <th style="width: 130px !important;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in bookingDetails)
                        {
                            <tr>
                                <td>@item.FromDate.Value.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.Todate.Value.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.CustomerContactNo</td>
                                <td>@item.CustomerName</td>
                                <td>@item.TotalDays</td>
                                <td>@item.ClientName</td>
                                <td>@item.StatusName</td>
                                <td style="width: 130px !important;">
                                    @if (item.StatusId == (int)TheGrandPresident.Models.Common.BookingStatus.Pending)
                                    {
                                        <div>
                                            <button type="button" class="btn btn-primary" onclick="Approve(@item.BookingId)">Approve</button>
                                            <button type="button" class="btn btn-danger" onclick="Cancel(@item.BookingId)">Cancel</button>
                                        </div>
                                    }
                                    else
                                    {
                                        @item.StatusName
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>FromDate</th>
                            <th>Todate</th>
                            <th>CustomerContactNo</th>
                            <th>CustomerName</th>
                            <th>TotalDays</th>
                            <th>ClientName</th>
                            <th>Status</th>
                            <th style="width: 130px !important;">Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Approve Booking</h4>
            </div>
            <div class="modal-body">
                @*<p>One fine body&hellip;</p>*@
                <p>are you sure want to <b>approve</b> booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="approveBooking">yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal modal-danger fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cancel Booking</h4>
            </div>
            <div class="modal-body">
                @*<p>One fine body&hellip;</p>*@
                <p>are you sure want to <b>cancel</b> booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-outline" id="cancelBooking">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>

    var bookingid;
    $(document).ready(function () {
        $("#menuBooked").addClass("active");

        $('#example1').DataTable();
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });

        $("#cancelBooking").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CancelBooking")',
                data: JSON.stringify({ id: bookingid }), //use id here
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // alert("Data has been deleted.");
                    //LoadData();
                    if (response) {
                        bookingid = 0;
                        $("#modal-danger .close").click();
                        location.reload();
                    }

                },
                error: function () {
                    alert("Error while deleting data");
                }
            });

        });

        $("#approveBooking").click(function () {
            //alert("The paragraph was clicked.");
            //$("#modal-default .close").click();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ApproveBooking")',
                data: JSON.stringify({ id: bookingid }), //use id here
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // alert("Data has been deleted.");
                    //LoadData();
                    if (response) {
                        bookingid = null;
                        $("#modal-default .close").click();
                        location.reload();
                    }
                },
                error: function () {
                    alert("Error while deleting data");
                }
            });
        });
    });

    function Approve(id) {
        bookingid = id;
        //alert("Approve:- " + bookingid);
        $('#modal-default').modal('show');
    }

    function Cancel(id) {
        bookingid = id;
        //alert("Cancel:- " + bookingid);
        $('#modal-danger').modal('show');
    }
</script>

