﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!--#region-->

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!--<div class="box-header">
                <h3 class="box-title">FromDate picker</h3>
            </div>-->
            <div class="box-body">
                <div class="form-group">
                    <label>FromDate:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right datepicker" id="fromdatepicker">
                    </div>
                </div>
                <div class="form-group">
                    <label>ToDate:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right datepicker" id="todatepicker">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!--<div class="form-group">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reservation">
                    </div>
                </div>-->
                <!--<div class="form-group">
                    <label>Date and time range:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reservationtime">
                    </div>
                </div>-->
                <!--<div class="form-group">
                    <label>Date range button:</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>
                                <i class="fa fa-calendar"></i> Date range picker
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
                demo
<!--#endregion-->
