﻿@model TheGrandPresident.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <!--<a href="../../index2.html"><b>Admin</b>LTE</a>-->
        <label> The Grand President</label>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in</p>

        @using (Html.BeginForm("Index", "Login", new { redirect_uri = Request.QueryString["redirect_uri"]@*, clstudio = Request.QueryString["clstudio"]*@ }, FormMethod.Post, new { @class = "m-t" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.LoginTypeId)
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.UserId, new
                   {
                       @class = "form-control txtUserId",
                       placeholder = "UserName",
                       //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                       //oninput = "setCustomValidity('')",
                       required = "",
                       tabindex = "1"
                   })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.Password, new
           {
               type = "Password",
               @class = "form-control txtPassword",
               placeholder = "Password",
               //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2952][0] + "')",
               //oninput = "setCustomValidity('')",
               required = "",
               tabindex = "2"
           })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row ">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        }


        @*<div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="UserName">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row ">*@
        <!--<div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>
        </div>-->
        @*<div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>*@

        <!--<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>-->
        <!--<a href="#">I forgot my password</a><br>-->
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->
    </div>
</div>
<script src="~/Content/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });

    });
</script>
