﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    
    @Styles.Render("~/Content/css/common")
</head>
<body class="hold-transition login-page">
    @Scripts.Render("~/bundles/js/common")
    @RenderBody()
   
    
    @RenderSection("scripts", required: false)
</body>
</html>
