﻿@model TheGrandPresident.Models.Booking
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<!--#region-->

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!--<div class="box-header">
                <h3 class="box-title">FromDate picker</h3>
            </div>-->
            @using (Html.BeginForm("Home", "Hotel", new
            {
                redirect_uri = Request.QueryString["redirect_uri"]@*, clstudio = Request.QueryString["clstudio"]*@ }, FormMethod.Post, new { @class = "m-t" }))
            {
                <div class="box-body">
                    <div class="form-group">
                        <label>FromDate:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @*<input type="text" class="form-control pull-right datepicker" id="fromdatepicker">*@
                            @Html.TextBoxFor(x => x.FromDate, new
                       {
                           @id = "fromdatepicker",
                           @class = "form-control txtFromDate pull-right datepicker",
                           placeholder = "FromDate",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>ToDate:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @*<input type="text" class="form-control pull-right datepicker" id="todatepicker">*@
                            @Html.TextBoxFor(x => x.Todate, new
                       {
                           @id = "todatepicker",
                           @class = "form-control txtToDate pull-right datepicker",
                           placeholder = "ToDate",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1"
                       })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Customer Name:</label>
                        <div class="input-group date">
                            @*<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>*@
                            @*<input type="text" class="form-control pull-right datepicker" id="todatepicker">*@
                            @Html.TextBoxFor(x => x.CustomerName, new
                       {
                           @id = "txtCustomerName",
                           @class = "form-control txtUserId pull-right ",
                           placeholder = "CustomerName",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1"
                       })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Customer contact number:</label>
                        <div class="input-group date">
                            @*<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>*@

                            @Html.TextBoxFor(x => x.CustomerContactNo, new
                       {
                           @id = "txtCustomerContactNo",
                           @class = "form-control txtUserId pull-right ",
                           placeholder = "CustomerContactNo",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1",
                           maxlength = "10"
                       })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>check-in time:</label>
                        <div class="input-group date">
                            @*@Html.DropDownList("StudentGender",
                                new SelectList(Enum.GetValues(typeof(Gender))),
                                "Select Gender",
                                new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(model => model.CheckInTimeList, Model.Providers)*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message:</label>
                        <div class="input-group date">
                            @Html.TextAreaFor(x => x.Message, new
                       {
                           @id = "txtMessage",
                           @class = "form-control pull-right ",
                           placeholder = "Note",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1",
                       })
                        </div>
                    </div>

                    @*<div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>*@

                    <div id="divBtnSendOTP" class="">
                        <button type="button" class="btn btn-primary" onclick="SendOTP()">Submit</button>
                    </div>

                    <div id="divTxtOTP" class="form-group hidden">
                        <label>OTP</label>
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.OTP, new
                       {
                           @id = "txtOTP",
                           @class = "form-control",
                           placeholder = "OTP",
                           //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                           //oninput = "setCustomValidity('')",
                           required = "",
                           autocomplete = "off",
                           tabindex = "1",
                           maxlength = "5",
                           hidden = "hidden",
                       })
                        </div>
                    </div>

                    <div id="divBtnConfirmBooking" class="hidden">
                        <button id="btnConfirmBooking" type="submit" class="btn btn-primary">Confirm Booking</button>
                    </div>
                    <!--<div class="form-group">
                        <label>Date range:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservation">
                        </div>
                    </div>-->
                    <!--<div class="form-group">
                        <label>Date and time range:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservationtime">
                        </div>
                    </div>-->
                    <!--<div class="form-group">
                        <label>Date range button:</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                <span>
                                    <i class="fa fa-calendar"></i> Date range picker
                                </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>-->
                </div>

                @*<div class="modal fade" id="modal-OTP">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">OTP Booking</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label class="col-form-label">OTP</label>


                                        @Html.TextBoxFor(x => x.OTP, new
                                   {
                                       @id = "txtOTP",
                                       @class = "form-control ",
                                       placeholder = "OTP",
                                       //oninvalid = "this.setCustomValidity('" + signinPageTranslations[2940][0] + "')",
                                       //oninput = "setCustomValidity('')",
                                       required = "",
                                       autocomplete = "off",
                                       tabindex = "1",
                                       maxlength = "5"
                                   })
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
            }
        </div>
    </div>
</div>



<script src="~/Content/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $(function () {
        $('.datepicker').datepicker({
            autoclose: true
        });
        $('#fromdatepicker').val('');
        $('#todatepicker').val('');
        $('#txtCustomerName').val('');
        $('#txtCustomerContactNo').val('');
        $('#txtMessage').val('');
        $('#txtOTP').val('');
        $("#divBtnSendOTP").removeClass("hidden");
        $("#divTxtOTP").addClass("hidden");
        $("#divBtnConfirmBooking").addClass("hidden");

    });

    function SendOTP() {
        debugger
        //alert("Cancel:- " + bookingid);
        ValidationBeforeOTP();
        $("#divBtnSendOTP").addClass("hidden");
        CreateOTP("9979050382");



        //$('#modal-OTP').modal({ backdrop: 'static', keyboard: false })
        //$('#modal-OTP').modal('show');

    }


    function CreateOTP(mobilenumber) {
        debugger
        $.ajax({
            url: '@Url.Action("GenerateRandomNumber")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {
                debugger
                if (result.IsSuccess == true) {
                    debugger
                    var otp = result.RandomNumber;
                    
                    sessionStorage.setItem('OTP', otp);
                    
                    $("#txtOTP").val(otp);
                    //$("#divTxtOTP").show();
                    $("#divTxtOTP").removeClass("hidden");
                    //$("#divBtnConfirmBooking").show();
                    $("#divBtnConfirmBooking").removeClass("hidden");
                    // SendOTP(mobilenumber, otp);

                }

            }),
            error: function (errormessage) {
                debugger
                alert(errormessage.responseText);
            }
        });
    }

    function ValidationBeforeOTP() {
        debugger
    }
</script>
<!--#endregion-->
